input {
  width: 300px;
  padding: 5px;
  font-family: Arial, sans-serif;
  border: solid 1px #ccc;
  box-sizing: border-box;
  border-radius: 3px;
}

input:focus {
  border-color: #EEA34A;
}

img {
  width: 300px;
  height: 300px;
}
